/* index.php */

body {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    background-image: url('../img/outras/aurorabg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer {
    background-color: aliceblue;
    color: #055353;
    text-decoration: none;
}

#title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: #188a62;
}

.titulo {
    text-align: center;
    margin-top: 10%;
}

div#formulario {
    width: 50%;
    margin: 12ch auto;
    background-color: rgba(91, 91, 91, .2);
    padding: 30px;
    text-align: center;
}

form {
    width: 100%;
    height: 100%;
}

div#formulario input {
    margin: 3ch .5ch;
}

.post-slider {
    margin-top: -49%
}

.campo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titleIndex img {
    width: 20%;
}

.parallax {
    background-attachment: fixed;
}

.carro1 {
    background-image: url("../img/index/carro-parallax.jpg");
}

.carro2 {
    background-image: url("../img/index/carro-parallax2.jpg");
}

.carro3 {
    background-image: url("../img/index/carro-parallax3.png");
}

.carro4 {
    background-image: url("../img/index/carro-parallax4.jpg");
}

.wpp {
    background-image: url("../img/outras/greenbg.jpg");
}

.inputs {
    background-color: white;
    border: none;
    width: 100%;
    outline: none;
}

#canvas {
    margin-top: 0%;
    background-attachment: fixed;
    height: 850px;
}

.post-slider .post-wrapper {
    width: 79.5%;
    height: 610px;
    margin: 0px auto;
    overflow: hidden;
    /* border: 1px dashed red; */
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 610px;
    display: inline-block;
    background: #fff;
    margin: 0px 20px;
}

.left-seta {
    width: 90px;
    position: absolute;
    top: 68%;
    left: 0%;
    cursor: pointer;
}

.right-seta {
    width: 90px;
    position: absolute;
    top: 68%;
    left: 93%;
    cursor: pointer;
}


/* fotos dos cards */

.veiculos {
    width: 100%;
}

.modelo {
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%
}

.list-group-item {
    text-align: left;
}

.btn {
    background-color: #188a62;
    height: 73px;
    border: none;
    color: white;
}

.btnI {
    background-color: #8a1818;
    height: 73px;
    border: none;
    color: white;
}

.btnI:hover {
    background-color: #8a1818;
    height: 73px;
    border: none;
    color: white;
    cursor: not-allowed;
}

.btn:hover {
    background-color: #2DC874;
    height: 73px;
    border: none;
    color: white;
}

.maisProcurados {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    position: absolute;
    top: 15%;
    text-align: center;
    /* background-color: #091b10; */
    width: 100%;
    height: 67px;
}

.cont {
    background: rgb(255, 255, 255);
}

.card {
    width: 25%;
    /* margin: 0 auto; */
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 3%;
    float: left;
}

#campoPesquisa {
    position: absolute;
    margin-left: 25%;
    height: 40px;
    width: 50%;
    margin-top: 3%;
}

.alert {
    width: 50%;
    height: 400px;
    background-color: rgba(221, 0, 0, 0.267);
    color: black;
    margin: 90px auto;
}

.bgCards {
    width: 90%;
    background-color: rgb(255, 255, 255);
}

.msg {
    width: 50%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 90px auto;
}

.ajusteTamanho {
    width: 40px;
}